/* Les classes utilisées pour générer la boîte modale proviennent du tutoriel suivant : http://www.cssscript.com/minimal-overlay-modal-pure-css/e*/
/* Celles-ci ont été légèrement modifiées pour expérimenter avec la solution et apporter des mofications dans les prochaines itérations du projet */
.modal {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border: 3px solid #666;
  width: 300px;
  position: relative;
}

.modal h2 { margin-top: 0; }

.modal .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.9;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
}

.modal .close:hover { opacity: 1; }

.modal .content {
  max-height: 400px;
  overflow: auto;
}

.modal p {
  margin: 0 0 1em;
  text-align: center;
}

.modal p:last-child { margin: 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 1);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 0.8;
}

/* Fin des classes provenant de http://www.cssscript.com/minimal-overlay-modal-pure-css/ */

body {
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 32px;
	text-shadow: -8px -8px #abcabc, 2px 2px #abcabc, -3px 0 4px #000;
	color: green;
	padding:16px;
	font-weight:lighter;
	text-align:center;
	display:block;
	margin:16px;
}
a {
	color: green;
}
header {
 	background-color : #eee
}

#zonereponse {
	display: inline-block;
	width: 300px;
	height: 75px;
	border: 2px solid;
	background-color: LightGray;
	text-align: center;
	line-height: 75px;
}

.reponse {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.borderMauvaiseReponse {
	border: 3px solid red;
}
.borderBonneReponse {
	border: 3px solid green;
}


input.button,
a.button {
	display: inline-block;
	margin-bottom: 2px;
	text-align: center;
	background-color : #cba;
	color: black;
	border: 2px solid;
	border-radius: 4px;
	text-decoration: underline;
}
input.button:hover,
a.button:hover {
	background-color : #ef2;
}
footer {
 	clear: both;
}
article .float img {
	float: right;
	margin: 0 1.5%;
}
nav {
 	padding: 0; 
	margin: 0;
	display: inline-block;
}
nav ul li{
	display: inline-block;	
	padding: 8px;
	list-style: none; 	
}
nav ul a:hover:not(.current) {
	background-color : #ef2;
}
nav ul a.current {
	padding: 5px;
	border: 2px solid;
	border-radius: 4px;	
	background-color : #ffcccc;
	pointer-events: none;
}

@media screen and (max-width: 768px)
{
	body header section{
		display: none;
	}
	form {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	
}
@media screen and (min-width: 768px) and (max-width: 1280px)
{
	form {
		float: left;
		margin: 0 1.5%;
		width: 60%;
	}
	aside {
		float: right;
		margin: 0 1.5%;
		width: 30%;
	}
}

