extends layout

block content
        section
            h1 Questionnaire 
                span(id='domaine') 
            section
                form(method='POST',action='examen',id='monForm')
                    fieldset
                        p#question 
                        #zonereponse Glisser la lettre de la réponse ici
                        #choix
                        #button
                        a(class='button', href='tableauBord' id="menuPrincipalBtn") Retour au menu (Abandon)
                        input(type='submit', id="qSuivanteBtn", class='button', value='Question suivante')
                aside
                    h1 Statistiques
                    p Note courante (Nombre de questions réussies / Nombre de questions répondues) : 0 / 2
block js
        script(src='js/examen.js')  
                   
