extends layout

block content
    main
        section
            h1 Examen terminé!
            p Félicitations! Vous avez terminé l'examen avec une note de 2 / 2.
            a(class='button', href='tableauBord') Retour au menu

