extends layout

block content
        section
            h1 Questionnaire
            section
                form(method='POST',action='question2Examen')
                    fieldset
                        p <b>Question 1 </b> Quel est le doctype d'un document HTML5 ?
                        mixin question(num, reponse)
                            input(type='radio',name='reponse', value=num, id = 'reponse'+num)
                            label(for='reponse'+num)= reponse
                        +question('1','<!DOCTYPE html>')
                        +question('2','<!DOCTYPE html5>')
                        +question('3','<!DOCTYPE html6>')
                        a(class='button', href='tableauBord') Retour au menu
                        input(type='submit', class='button', value='Question suivante')
                aside
                    h1 Statistiques
                    p Note courante (Nombre de questions réussies / Nombre de questions répondues) : 0 / 2
                   
