extends layout

block content
        section
            h1 Questionnaire Rapide
            section
                form(method='POST',action='question',id='monForm')
                    fieldset
                        p#question 
                        #zonereponse(ondrop='drop(event)', ondragover='allowDrop(event)') Glisser la lettre de la réponse ici
                        #choix
                        #button
                        a(class='button', href='tableauBord') Retour au menu
                        input(type='submit', class='button', value='Question suivante')
                aside
                    h1 Statistiques
                    p#note
                    
block js
        script(src='js/question.js')  
