extends layout

block content
  main
    h1 Menu personnel
    form(method='Post', action='question')
        fieldset
            legend Début d'un test rapide.
            input(type='submit', value='Examen rapide')
    form(method='Post', action='examen')
        fieldset
            legend Début d'un examen officiel.
            label(for='domaine')
            select(name='domaine', id='domaine')
                option(value='html') HTML5
                option(value='css') CSS3
                option(value='js') Javascript
            label(for='nombre') Choisissez le nombre de questions.
            input(type='number', min='1', value='1', id='nombre')
            input(type='submit', value='Examen officiel')
    aside
        h1 Statistique
        p Note test rapide (Nombre de questions réussies / Nombre de questions répondues) : 10 / 15
        p Note des examens (Moyenne des scores des examens sur 20) : 15 / 20
        p Examen 1 : 20 / 20
        //La section suivant est inspirée de la solution HTML fournie au lien suivant: http://www.cssscript.com/minimal-overlay-modal-pure-css/
        //Nous avons adapté celle-ci pour PUG et nos besoins
        a.button(href='#modal1') Voir détails
        #modal1.overlay
            a.cancel(href='#')
            .modal
                h2 Statistiques détaillées
                .content
                    p L'on trouvera dans cette boîte des informations à propos des notes obtenues par le participant aux examens antérieurs
                    
block js
    script(src='js/tableauBord.js')
        
