main
    section
       h1 Examen terminé!
       span Félicitations! Vous avez terminé l'examen. Votre note apparaitera sur la page principale !
    section   
       a([routerLink]="['/tableauBord']" class="button") Retour au menu