main
    article
        h1 Instructions
        .float
            img(src='images/html-css-js2.png', alt='splash screen picture')
        p Nous présentons dans cette section les différentes contraintes du site web.
