main
    h1 Menu personnel
    fieldset
        legend Début d'un test rapide.
        a([routerLink]="['/questionRapide']" class="button") Question Rapide

    fieldset
        legend Début d'un examen officiel.
        label(for='domaine')
        select(#domaine='', (change)='updateSubject(domaine.value)')
            option(value='html') HTML5
            option(value='css') CSS3
            option(value='js') Javascript
        label(for='nombre') Choisissez le nombre de questions.
        input(#nombre='', type='number', min='2', value='2', (change)='updateNb(nombre.value)')
        input(type='hidden', name = 'examen_id', value='0')
        a([routerLink]="['/examen']" class="button") Examen officiel
            
    fieldset
        legend Modification des questions
        a([routerLink]="['/ajouterQuestion']" class="button") Ajouter une question
    fieldset
        legend Reinitialiser les statistiques
        button((click)='resetStats()') Reinitialiser
    fieldset
        legend Reinitialiser les examens
        button((click)='resetExams()') Reinitialiser
    aside
        h1 Statistique
        p Note examens (Tous les examens termines) : 
        a(*ngFor='let exam of exams')
            p Sujet: {{exam.subject}} Questions reussis: {{exam.bonne_repones}} Questions totales: {{exam.progression_finale}}
        p Note detailles
        a(*ngIf='stats')
            p Total des questions rapides en html: {{stats.question_html}}
            p Total des questions rapides en css: {{stats.question_css}}
            p Total des questions rapides en js: {{stats.question_js}}
            p Total des bonnes reponses en question rapide html: {{stats.bonnereponse_html}}
            p Total des bonnes reponses en question rapide css: {{stats.bonnereponse_css}}
            p Total des bonnes reponses en question rapide js: {{stats.bonnereponse_js}}
            p Total des questions d'examen en html: {{stats.examen_html}}
            p Total des questions d'examen en css: {{stats.examen_css}}
            p Total des questions d'examen en js: {{stats.examen_js}}           
            p Total des bonnes reponses en examen html: {{stats.totalpoint_html}}
            p Total des bonnes reponses en examen css: {{stats.totalpoint_css}}
            p Total des bonnes reponses en examen js: {{stats.totalpoint_js}}
    block js
    script(src='js/tableauBord.js')
router-outlet
    
